html, body {
    font: normal 100% Calibri, Candara, "Gill Sans", "Gill Sans MT", sans-serif;
    width: 100%;
    height: 100%;
    min-height: 2600px;
    /* overflow-x: hidden; */
    text-align: center;
}

body {
    background: url("../pics/tile.png") repeat-x -2% -230px,
                /**/url("../pics/tile.png") repeat-x -4% 550px,
                url("../pics/tile.png") repeat-x -8% 80%,
                url("../pics/body.gif") repeat;
}

#page {
    margin: 35px auto;
    width: 90%;
}

@media screen and (max-width: 768px) {
    #page {
        position: relative;
        margin: 20px;
        width: auto;
    }

}

@media screen and (max-width: 768px) {
    head, .article, .slides, .gallery {
        margin: 0 0 30px;
        width: auto;
    }
}

.full-container {
    width: 100%;
}

/*.container {
    width: 80%;
    margin: 0 auto;
}
.container85 {
     width: 85%;
     margin: 0 auto;
 }*/

.container960 {
    width: 90%; /*960px*/
    margin: 0 auto;
}

.container {
    width: 93.75%; /* 900 / 960 */
    margin-left: 3.125%; /* 30 / 960 */
    margin-right: 3.125%; /* 30 / 960 */
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

img,
embed,
video,
object {
    width: 100%;
}

img,
embed,
video,
object {
    max-width: 100%;
}

@font-face {
    font-family: League Gothic;
    src: url("../fonts/OT-tt/LeagueGothicCyrillic.ttf"),
         url("../fonts/OT-tt/LeagueGothicCyrillic(Autohinted).ttf"),
         url("../fonts/OT-ps/LeagueGothicCyrillic.otf");
}


/* Header */

header .head {
    display: block;
    position: relative;
    min-height: 100px;
    text-align: left;
    /*margin-top: 30px;*/
}

.head .logo-image, header .head .menu {
    position: relative;
    display: inline-block;
    left: 0px;
    top: 0px;
}

.head .logo-image {
    display: block;
    z-index: 100;
    float: left;
    text-align: center;
    width: 18.8888889%; /* */
    min-height: 120px;
    background: url("../pics/logo-bg.jpg")  no-repeat;
    background-size: cover;
}

.head .logo-image::after {
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border: 0px solid transparent;
    -webkit-box-shadow: -1px -1px 0 0 #C52618 ,   -2px -2px 0 0 #C52618,
                        -3px -3px 0 0 #C52618,   -4px -4px 0 0 #C52618,
                        -5px -5px 0 0 #C52618,    -6px -6px 0 0 #C52618,
                        -7px -7px 0 0 #C52618,    -8px -8px 0 0 #C52618,
                        -9px -9px 0 0 #C52618,    -10px -10px 0 0 #C52618;

    box-shadow: -1px -1px 0 0 #C52618,   -2px -2px 0 0 #C52618,
                -3px -3px 0 0 #C52618,   -4px -4px 0 0 #C52618,
                -5px -5px 0 0 #C52618,    -6px -6px 0 0 #C52618,
                -7px -7px 0 0 #C52618,    -8px -8px 0 0 #C52618,
                -9px -9px 0 0 #C52618,    -10px -10px 0 0 #C52618;
    opacity: 0.5;
}

.head .logo-image a img {
    width: 70.5882353%;
    height: auto;
    margin-top: 10%;
}

.head .menu {
    display: block;
    z-index: 80;
    float: left;
    /* margin-top: 30px; */
    width: 100%;
    min-height: 30px;
    background: url("../pics/nav-bg.jpg") repeat;
}
.head .menu::after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid transparent;
    -webkit-box-shadow:
                1px -1px 0 #5E140D ,    2px -2px 0 #5E140D,
                3px -3px 0 #5E140D,    4px -4px 0 #5E140D,
                5px -5px 0 #5E140D,    6px -6px 0 #5E140D,
                7px -7px 0 #5E140D,    8px -8px 0 #5E140D,
                9px -9px 0 #5E140D,    10px -10px 0 #5E140D;

    box-shadow: 1px -1px 0 #5E140D,    2px -2px 0 #5E140D,
                3px -3px 0 #5E140D,    4px -4px 0 #5E140D,
                5px -5px 0 #5E140D,    6px -6px 0 #5E140D,
                7px -7px 0 #5E140D,    8px -8px 0 #5E140D,
                9px -9px 0 #5E140D,    10px -10px 0 #5E140D;

    opacity: 0.2;
}

.head .menu ul {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}


.head .menu ul li {
    display: inline-block;
    padding: 0.8em;
    text-align: right;
    vertical-align: middle;
    font-size: 0.75em; /* 12px / 16px */
}

@media screen and (max-width: 768px) {
    .head .menu ul {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 960px) {
    .head .menu ul {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        /* column-count: 2; */
    }
}

.head .menu ul li a {
    color: #EECBA5;
    text-decoration: none;
}

.head .menu ul li a:hover {
    color: #fff;
    cursor: pointer !important;
}

main {
    min-height: 2400px;
}

/* article in blog */


.article {
    position: relative;
    display: inline-block;
    min-width: 49%;
    height: 980px;
    float: left;
    z-index: 120;
    /* margin-top: 80px;
    margin-right: 2%;*/
    background: white;
    text-align: left;
    margin-bottom: 40px;
}

.article::after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid transparent;
    -webkit-box-shadow: 10px 10px 30px 0px gray,
                        -10px 10px 30px 0px gray;
    -moz-box-shadow: 10px 10px 30px 0px gray,
                        -10px 10px 30px 0px gray;
    box-shadow:10px 10px 30px 0px gray,
                     -10px 10px 30px 0px gray;
    opacity: 0.2;
}



.article  main p, .article main h1  {
    padding: 10px;
    margin-left: 5px;
}

.article .head {
    width: 100%;
    display: block;
    position: relative;
    background: url("../pics/blog-title-bg.jpg") no-repeat;
    height: 8.2%;
    color: white;
    font-family: "league-gothic-1", "league-gothic-2", "League Gothic", "Arial Narrow", Arial, sans-serif;
}



.article  .head h1 a {
    color: inherit;
    display: inline-block;
    font-size: 1.5625em;/* 25px / 16px */
}

.article  .head h1 {
    width: 89.33333333%; /* 804 / 900 */
    padding: 1.60em 5.33333333%;
}

.article  .head p {
    display: inline-block;
    font-size: 1.8125em; /* 13px / 16px */
}

.article  .head::after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid transparent;
    -webkit-box-shadow:
            -1px -1px 0 #5E140D ,   -2px -2px 0 #5E140D,
            -3px -3px 0 #5E140D,    -4px -4px 0 #5E140D,
            -5px -5px 0 #5E140D,    -6px -6px 0 #5E140D,
            -7px -7px 0 #5E140D,    -8px -8px 0 #5E140D,
            -9px -9px 0 #5E140D,    -10px -10px 0 #5E140D;

    box-shadow: -1px -1px 0 #5E140D,    -2px -2px 0 #5E140D,
                -3px -3px 0 #5E140D,    -4px -4px 0 #5E140D,
                -5px -5px 0 #5E140D,    -6px -6px 0 #5E140D,
                -7px -7px 0 #5E140D,    -8px -8px 0 #5E140D,
                -9px -9px 0 #5E140D,    -10px -10px 0 #5E140D;

    opacity: 0.2;
}

.article .article-content {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    height: 91.8%; /* for height of .entries!!! */ /* 900px */
}

.article .article-content article {
    position: relative;
    float: left;
    width: 62.88888899%; /* 566 / 900 */
}

.article .article-content article .head-2 {
    min-height: 3%;

}



.article .article-content article .date {
    position: relative;
    display: inline-block;
    float: left;
    color: white;
    margin-top: 1.111111111%;
    margin-left: -5.3004%; /* 30 / 566px */
    text-align: center;
    height: 70px;
    width: 10.60071%; /* 60 / 566 */
    opacity: 0.7;
    border-radius: 3px;
    background-color: black;
    font-family: "league-gothic-1",
    "league-gothic-2", "League Gothic",
    "Arial Narrow", Arial, sans-serif;
}

.article .article-content article .date time .big-text,
.article .article-content article .date time .small-text {
    opacity: 1;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 0.08em;
}

.article .article-content article .date time .big-text {
    font-size: 2.1875em;
    padding-top: 5px;
}

.article .article-content article .date time .small-text {
    font-size: 0.95em;
}

.article .article-content article .head-2 h3 {
    float: left;
    color: #C52618;
    display: block;
}

.article .article-content .figure {
    position: relative;
    display: inline-block;
    float: right;
    width: 48.7341772%;
    background: #C52618;
    border-radius: 5px;

 }

.article .article-content .figure p {
    margin: 5px;
    overflow: hidden;
}

.article .article-content .figure p img {
    display: block;
    width: auto;
}

.article .article-content article .body-article {
    min-height: 600px;
    padding: 40px 8.480565%;
}

.article .article-content article .body-article .text {
    border-bottom: 1px solid lightgray;
    min-height: 300px;
}

.article .article-content article .body-article .text p,
.article .article-content article .body-article .reference {
    margin-top: 10px;
    margin-bottom: 10px;
}

.article .article-content article .body-article .text .intro {
    font-size: 18px;
}

.article .article-content article .body-article .reference {
    float: left;
    color: #666;
    text-align: left;
    min-height: 20px;
}

.article .article-content article .body-article .reference a {
    color: #C52618;
}

.article .article-content article .body-article .reference p,
.article .article-content article .body-article .reference li a:hover {
    color: #666;
}

.article .article-content article .body-article .reference .reference-list ul,
.article .article-content article .body-article .reference .reference-list ul li,
.article .article-content article .body-article .reference .reference-list p {
    display: inline-block;
}

.article .article-content article .body-article .reference .reference-list ul li {
    padding: 5px;
}

.article .article-content article .body-article .reference li a {
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
    color: #999;
}

.article .article-content article .body-article .reference .reference-list ul li:nth-child(1):after,
.article .article-content article .body-article .reference .reference-list ul li:nth-child(2):after {
    content: "\2022";
    padding-left: 10px;
}

.article .article-content .entries  {
    position: relative;
    display: inline-block;
    float: right;
    width: 36.7777778%;
    height: 100%;
    background: url("../pics/noise-gray.gif") repeat;
    background-size: contain;
    margin: 0 auto;
}

.article .article-content .entries .entries-content {
    margin: 40px 14.5015106%; /* 48 / 331 */
    width: 69.7885196%; /* 231 / 331 */
    height: auto;
}

.article .article-content .entries h1 {
    display: block;
    text-align: center;
    padding:   0px 0 10px 0;
    font-size: 10px;
    border-bottom: 1px solid lightgrey;
    letter-spacing: 0.5em;
}

.article .article-content .entries ol {
    /*column-count: 2;*/

    /**/list-style: url(../pics/lines.png) inside;
}

.article .article-content .entries ol li {
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    /* background:  url("../pics/lines.png") no-repeat left top; */

}

.article .article-content .entries ol a,
.article .article-content  .entries ol p {
    white-space: pre-line;
    line-height: 20px;
}

.article .article-content .head,
.article .article-content .entries li a {
    display: inline-block;
    font-size: 15px;
    color: #C52618;
}

.article .article-content .entries ol a {
    /*margin-left: 20px;*/
    width: 80%;
    /* background:  url("../pics/lines.png") no-repeat; */
}

.article .article-content .entries ol li p {
    position: relative;
    display: block;
    font-size: 13px;
    color: grey;
    margin: 0;
    padding-left: 20px;
    border-bottom: 1px solid lightgrey;
}

.article .article-content .entries li i {
    font-style: italic;
}


.slide-block {
    position: relative;
    display: inline-block;
    width: 70%;
    min-height: 100px;
    background-color: white;
    overflow: hidden;
    z-index: 600;
}

.slide-text h1 {
    position: relative;
    float: left;
    width: 60%;
    background-color: black;
    min-height: 30px;
    padding: 10px 50px 10px 20px;
    font-size: 25px;
    color: white;
    text-align: left;
    z-index: 600;
    font:   normal 3.625em/0.9 "league-gothic-1",
            "league-gothic-2", "League Gothic",
            "Arial Narrow", Arial, sans-serif;
}

@media screen and (max-width: 768px) {
    .slide-text h1 {
        font: normal 1.5em Calibri, Candara,
        Segoe, "Segoe UI", Optima, Arial,
        Helvetica, sans-serif; /* 24px / 16px */
    }
}

 .slide-text {
     position: relative;
     /*display: inline-block;*/
     width: 100%;
     float: left;
     min-height: 200px;
     background-color: white;
     overflow: hidden;
     margin-top: -25px;
     text-align: left;
}

.slide-text p {
    position: relative;
    float: left;
    line-height: 20px;
    width: 70%;
    padding: 10px;
}

.slide-block .slides {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    width: 500%;
    min-height: 100px;
    overflow: hidden;
}

.slide-block .slides .slide-item {
    float: left;
    width: 20%;
    margin: 0;
}

.slide-block .slides .slide-item img {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: -35px;
}

.slide-block .slides .slide-item p {
    /*content: "Fear the robot. Fear it.";*/
    display: inline-block;
    position: relative;
    top: 0;
    right: auto;
    float: right;
    padding: 10px;
    color: #999999;
    background-color: #666666;
    font-size: 13px;
    z-index: 999;
    opacity: 0.7;
    min-height: 0;
    line-height: 15px;
}

.slide-block .slides .slide-item  p .white {
    color: white;
    opacity: 1;
}

.slide-block .slides .slide-item .arrow-box {
    display: inline-block;
    position: relative;
    float: right;
    margin-top: -20px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    background: #EECBA5;
    color: red;
    z-index: 999;
}

.slide-block .slides .slide-item .arrow-box .arrow-prev {
    background: url("../pics/arrow-left.gif") no-repeat 50% 50%;
    height: 100%;
    width: 50%;
    display: inline-block;
    position: relative;
    float: left;
}

.slide-block .slides .slide-item .arrow-box .arrow-prev:hover {
    cursor: pointer;
}

.slide-block .slides .slide-item .arrow-box .arrow-next {
    background: url("../pics/arrow-right.gif") no-repeat 50% 50%;
    height: 100%;
    width: 50%;
    display: inline-block;
    position: relative;
    float: right;
}

.slide-block .slides .slide-item .arrow-box .arrow-next:hover {
    cursor: pointer;
}



.gallery {
    position: relative;
    display: block;
    min-height: 450px;
    float: right;
    background: white;
    margin-top: 40px;
}

.gallery .font {
    font-family:  "league-gothic-1",
    "league-gothic-2", "League Gothic",
    "Arial Narrow", Arial, sans-serif;
}

.gallery .gallery-head {
    position: relative;
    font-size: 3.625em; /* 58px */
    min-height: 60px;
    background: url("../pics/nav-bg.jpg");
    text-align: left;
}

.gallery .gallery-head::after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid transparent;
    -webkit-box-shadow:
            -1px -1px 0 #5E140D ,   -2px -2px 0 #5E140D,
            -3px -3px 0 #5E140D,    -4px -4px 0 #5E140D,
            -5px -5px 0 #5E140D,    -6px -6px 0 #5E140D,
            -7px -7px 0 #5E140D,    -8px -8px 0 #5E140D,
            -9px -9px 0 #5E140D,    -10px -10px 0 #5E140D;

    box-shadow: -1px -1px 0 #5E140D,    -2px -2px 0 #5E140D,
    -3px -3px 0 #5E140D,    -4px -4px 0 #5E140D,
    -5px -5px 0 #5E140D,    -6px -6px 0 #5E140D,
    -7px -7px 0 #5E140D,    -8px -8px 0 #5E140D,
    -9px -9px 0 #5E140D,    -10px -10px 0 #5E140D;

    opacity: 0.2;
}

.gallery .gallery-head h3, .gallery .gallery-head h1 {
    display: inline-block;
    color: white;
    margin: 25px; /**/
}

.gallery .gallery-head h1 a {
    color: white;
}

.gallery .gallery-head h3 {
     /*font-size: 35px;*/
    font-size: 0.60345em;
    margin-right: 0px;
}

.gallery .gallery-head h1 {
    /*font-size: 58px;*/
    font-size: 100%;
    margin-left: 0px;
}

.gallery .gallery-block-1,
.gallery .gallery-block-2 {
    position: relative;
    display: block;
    margin-bottom: 20px;
    min-height: 180px;

}

.gallery .gallery-block-1 .head-block-1,
.gallery .gallery-block-2 .head-block-2 {
    position: relative;
    display: block;
    float: left;
    width: 50%;
    background: black;
    min-height: 25px;
    color: white;
    margin-left: -1.66666667%; /* 15px / 900px */
    text-align: left;
    font-size: 4.0625em;
}

.gallery .gallery-block-1 .head-block-1 h1,
.gallery .gallery-block-2 .head-block-2 h1 {
    margin-left: 3.33333333%; /* 15 / 450 */
}

.gallery .gallery-block-1 .gallery-list-1,
.gallery .gallery-block-2 .gallery-list-2 {
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.gallery .gallery-block-1 .gallery-list-1 li,
.gallery .gallery-block-2 .gallery-list-2 li {
    width: 20%;
    height: auto;
    display: inline-block;
    float: left;
    margin: 1%;
    border: 1px solid white;
    box-shadow: 0 0 5px 1px lightgray;
    padding: 1%;
    background: #fffeee;
}

.gallery .gallery-block-1 .gallery-list-1 img,
.gallery .gallery-block-2 .gallery-list-2 img {
    width: 100%;
    height: auto;
    background: lightgray;
    sborder: 1px solid white;
}

.gallery .gallery-block-1 .gallery-list-1 h3,
.gallery .gallery-block-2 .gallery-list-2 h3 {
    font-size: 12px;
    color: #C52618;
    padding-top: 5px;
    word-wrap: break-word;
}






a:hover {
    cursor: pointer;
    color: white;
}






